.layoutContainer {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr;
  height: 100vh;
}

.header {
  grid-column: 1 / 3;
  border-bottom: 1px solid #e5e7eb;
  background-color: white;
}

.sidebar {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  background-color: #1f2937; /* Темний фон */
  color: white;
  overflow-y: auto;
}

.mainContent {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  overflow-y: auto;
  padding: 20px;
  background-color: #f5f5f5;
}
